.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.new-chirp-form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.new-chirp-form label {
  margin: 10px;
}

.char-total {
  text-align: end;
  font-size: 12px;
}